[% META title = 'Create/Update' %]
[% form %]
[% IF status_msg %]
<button onclick="goBack2()">Назад</button>
[% ELSE %]
<button onclick="goBack1()">Назад</button>
[% END %]
<script>
function goBack2() {
 window.history.go(-2);
 }
function goBack1() {
 window.history.go(-1);
}
</script>
