[% META title = 'Добавяне на Продукт в Кошницата' -%]

<h3> Вие успешно добавихте [% quantity %] бройка/и от следната книга [% book.name %] във вашата кошница. Обща стойност [% book.price*quantity %] [% book.currency_id %] </h2>
<h3> <a href="[% c.uri_for('/cart/list') %]">Към количката</a></h3>
