[% META title = 'Успешно създадена поръчка' -%]
<h3> Вие успешно създадохте поръчка </h2>
[% IF payment_type == 'PayPal' %]
<h3><a href="[% c.uri_for('/checkout') %]?order_id=[% order_id %]">Плати</a></h3>
<p> *Може да платите на по-късен етап от менюто с поръчки във вашият профил </p>
[% END %]
<h3> <a href="[% c.uri_for('/profile/orders') %]">Към вашите поръчки</a></h3>
